*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  max-width: 320px;
  text-align: center;
  margin: 30px auto;
  padding: 30px;
  background-color: antiquewhite;
}

.head img {
  width: 150px;
  margin-bottom: 20px;
}
.head h1 {
  font-weight: 540;
  margin-bottom: 10px;
}
.container textarea {
  background-color: #444059;
  border: none;
  width: 100%;
  height: 90px;
  border-radius: 5px;
  color: white;
  padding: 8px;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
}
.container textarea:focus {
  outline: none;
}
/* publish button */
#publish {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #28a9f1;
  box-shadow: 0 0 2px #074667;
  margin-bottom: 20px;
  font-size: large;
  transition: box-shadow 0.2s;
}
#publish:hover {
  box-shadow: 0 0 8px #074667;
}
button:hover {
  cursor: pointer;
}
.message-container {
  border-top: 1px solid black;
  padding-top: 10px;
}
.messages .message {
  text-align: left;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
}
.delete-btn {
  background-color: red;
  position: absolute;
  right: 5px;
  display: inline-block;
  background-color: transparent;
  border: none;
}
